In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv('/content/jokes-data.csv')

In [3]:
ratings.head()

          id  user_id  joke_id  Rating
0  31030_110    31030      110   2.750
1  16144_109    16144      109   5.094
2    23098_6    23098        6  -6.438
3   14273_86    14273       86   4.406
4  18419_134    18419      134   9.375

In [4]:
ratings.shape

(1092059, 4)

In [5]:
ratings = ratings.drop('id',axis = 1)

In [6]:
ratings

         user_id  joke_id  Rating
0          31030      110   2.750
1          16144      109   5.094
2          23098        6  -6.438
3          14273       86   4.406
4          18419      134   9.375
...          ...      ...     ...
1092054     9517      132   3.156
1092055    27767      118  -1.594
1092056    10580       81   2.000
1092057    31007      119   8.906
1092058     8420       98  -3.344

[1092059 rows x 3 columns]

In [7]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: surprise in /usr/local/lib/python3.10/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.10/dist-packages (from surprise) (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise->surprise) (1.10.1)

In [8]:
from surprise import Reader, Dataset , SVD

In [9]:
#define reader object

In [10]:
reader = Reader()

In [11]:
#create the dataset that will be used for building the filter
data = Dataset.load_from_df(ratings, reader)

In [12]:
data

In [13]:
algo = SVD()

In [14]:
from surprise.model_selection import cross_validate

In [15]:
cross_validate(algo , data , measures = ['RMSE'], cv =5, verbose = True)

Evaluating RMSE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    4.6618  4.6668  4.6568  4.6555  4.6637  4.6609  0.0042
Fit time          17.81   14.91   14.77   14.95   14.84   15.46   1.18
Test time         2.41    3.20    2.64    3.19    2.54    2.80    0.33

{'test_rmse': array([4.66176671, 4.66675918, 4.65683444, 4.65545027, 4.66373617]),
 'fit_time': (17.808929681777954,
  14.91064715385437,
  14.767576456069946,
  14.94865608215332,
  14.839194059371948),
 'test_time': (2.4146275520324707,
  3.203305244445801,
  2.6361870765686035,
  3.1891748905181885,
  2.5426251888275146)}