In [1]:
#IMPORTING LIBRARIES

In [2]:
import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string

In [3]:
#LOADING DATASET

In [4]:
full_data = pd.read_csv('/content/1429_1.csv')

<ipython-input-4-6947222959ed>:1: DtypeWarning: Columns (1,10) have mixed types. Specify dtype option on import or set low_memory=False.
  full_data = pd.read_csv('/content/1429_1.csv')

In [5]:
full_data.head()

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.dateSeen,...,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,great for beginner or experienced person. Boug...,very fast,NaN,NaN,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,NaN,NaN,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,4.0,http://reviews.bestbuy.com/3545/5620406/review...,I've had my Fire HD 8 two weeks now and I love...,Good!!!,NaN,NaN,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-12T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,NaN,NaN,explore42

In [6]:
full_data.columns

Index(['id', 'name', 'asins', 'brand', 'categories', 'keys', 'manufacturer',
       'reviews.date', 'reviews.dateAdded', 'reviews.dateSeen',
       'reviews.didPurchase', 'reviews.doRecommend', 'reviews.id',
       'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.userCity',
       'reviews.userProvince', 'reviews.username'],
      dtype='object')

In [7]:
data = full_data[['reviews.text','reviews.title']]
data[['reviews.text','reviews.title']] = data[['reviews.text','reviews.title']].astype(str)
data.head()

<ipython-input-7-6ca8e87650bd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[['reviews.text','reviews.title']] = data[['reviews.text','reviews.title']].astype(str)

,reviews.text,reviews.title
0,This product so far has not disappointed. My c...,Kindle
1,great for beginner or experienced person. Boug...,very fast
2,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.
3,I've had my Fire HD 8 two weeks now and I love...,Good!!!
4,I bought this for my grand daughter when she c...,Fantastic Tablet for kids

In [8]:
#LOWER CASING

data['reviews.text'] = data['reviews.text'].str.lower()
data['reviews.title'] = data['reviews.title'].str.lower()
data.head()

<ipython-input-8-ea8ae3149d40>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.text'] = data['reviews.text'].str.lower()
<ipython-input-8-ea8ae3149d40>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.title'] = data['reviews.title'].str.lower()

,reviews.text,reviews.title
0,this product so far has not disappointed. my c...,kindle
1,great for beginner or experienced person. boug...,very fast
2,inexpensive tablet for him to use and learn on...,beginner tablet for our 9 year old son.
3,i've had my fire hd 8 two weeks now and i love...,good!!!
4,i bought this for my grand daughter when she c...,fantastic tablet for kids

In [9]:
#REMOVAL OF PUNCTUATION

def remove_punctuation(text):

    return text.translate(str.maketrans('', '',string.punctuation))

data['reviews.text'] = data['reviews.text'].apply(lambda text: remove_punctuation(text))
data['reviews.title'] = data['reviews.title'].apply(lambda text: remove_punctuation(text))
data.head()

<ipython-input-9-a67d429a90b0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.text'] = data['reviews.text'].apply(lambda text: remove_punctuation(text))
<ipython-input-9-a67d429a90b0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.title'] = data['reviews.title'].apply(lambda text: remove_punctuation(text))

,reviews.text,reviews.title
0,this product so far has not disappointed my ch...,kindle
1,great for beginner or experienced person bough...,very fast
2,inexpensive tablet for him to use and learn on...,beginner tablet for our 9 year old son
3,ive had my fire hd 8 two weeks now and i love ...,good
4,i bought this for my grand daughter when she c...,fantastic tablet for kids

In [10]:
#REMOVING STOPWORDS

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [11]:
from nltk.corpus import stopwords

In [12]:
stop_words = set(stopwords.words('english'))
def remove_stopwords(text):

    return " ".join([word for word in str(text).split() if word not in stop_words])

data['reviews.text'] = data['reviews.text'].apply(lambda text: remove_stopwords(text))
data['reviews.title'] = data['reviews.title'].apply(lambda text: remove_stopwords(text))
data.head()

<ipython-input-12-9233e48c0ad5>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.text'] = data['reviews.text'].apply(lambda text: remove_stopwords(text))
<ipython-input-12-9233e48c0ad5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.title'] = data['reviews.title'].apply(lambda text: remove_stopwords(text))

,reviews.text,reviews.title
0,product far disappointed children love use lik...,kindle
1,great beginner experienced person bought gift ...,fast
2,inexpensive tablet use learn step nabi thrille...,beginner tablet 9 year old son
3,ive fire hd 8 two weeks love tablet great valu...,good
4,bought grand daughter comes visit set user ent...,fantastic tablet kids

In [13]:
#REMOVAL OF FREQUENT WORDS

from collections import Counter
cnt = Counter()
for text in data['reviews.text'].values:
    for word in text.split():
        cnt[word] += 1

cnt.most_common(10)

[('great', 11735),
 ('tablet', 8960),
 ('use', 7604),
 ('love', 6588),
 ('easy', 6140),
 ('amazon', 5685),
 ('kindle', 5325),
 ('bought', 5048),
 ('good', 4999),
 ('one', 4958)]

In [14]:
freq_words = set([w for (w, wc) in cnt.most_common(10)])
def remove_freqwords(text):

    return " ".join([word for word in str(text).split() if word not in freq_words])

data['reviews.text'] = data['reviews.text'].apply(lambda text: remove_freqwords(text))

<ipython-input-14-c22294a409f2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.text'] = data['reviews.text'].apply(lambda text: remove_freqwords(text))

In [15]:
#REMOVAL OF RARE WORDS

n_rare_words = 10
rare_words = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(text):

    return " ".join([word for word in str(text).split() if word not in rare_words])

data['reviews.text'] = data['reviews.text'].apply(lambda text: remove_rarewords(text))

<ipython-input-15-8e06ec713957>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.text'] = data['reviews.text'].apply(lambda text: remove_rarewords(text))

In [16]:
#REMOVAL OF FREQUENT WORDS

cnt = Counter()
for text in data['reviews.title'].values:
    for word in text.split():
        cnt[word] += 1

cnt.most_common(10)

[('great', 12398),
 ('tablet', 5741),
 ('good', 3123),
 ('product', 2662),
 ('love', 2531),
 ('price', 1986),
 ('kids', 1456),
 ('kindle', 1300),
 ('fire', 1235),
 ('awesome', 1194)]

In [17]:
freq_words = set([w for (w, wc) in cnt.most_common(10)])
def remove_freqwords(text):

    return " ".join([word for word in str(text).split() if word not in freq_words])

data['reviews.title'] = data['reviews.title'].apply(lambda text: remove_freqwords(text))

<ipython-input-17-b9e17fa00ebf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.title'] = data['reviews.title'].apply(lambda text: remove_freqwords(text))

In [18]:
#REMOVAL OF RARE WORDS

n_rare_words = 10
rare_words = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(text):

    return " ".join([word for word in str(text).split() if word not in rare_words])

data['reviews.title'] = data['reviews.title'].apply(lambda text: remove_rarewords(text))

<ipython-input-18-930a05e12e6a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.title'] = data['reviews.title'].apply(lambda text: remove_rarewords(text))

In [19]:
data.head()

                                        reviews.text            reviews.title
0  product far disappointed children like ability...
1             beginner experienced person gift loves                     fast
2  inexpensive learn step nabi thrilled learn sky...  beginner 9 year old son
3  ive fire hd 8 two weeks valuewe prime members ...
4  grand daughter comes visit set user entered ag...                fantastic

In [20]:
#LEMMATIZATION

import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [21]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

data['reviews.text'] = data['reviews.text'].apply(lambda text: lemmatize_words(text))
data['reviews.title'] = data['reviews.title'].apply(lambda text: lemmatize_words(text))
data.head()

<ipython-input-21-3012a5ea154f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.text'] = data['reviews.text'].apply(lambda text: lemmatize_words(text))
<ipython-input-21-3012a5ea154f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.title'] = data['reviews.title'].apply(lambda text: lemmatize_words(text))

                                        reviews.text            reviews.title
0  product far disappointed child like ability mo...
1              beginner experienced person gift love                     fast
2  inexpensive learn step nabi thrilled learn sky...  beginner 9 year old son
3  ive fire hd 8 two week valuewe prime member sh...
4  grand daughter come visit set user entered age...                fantastic

In [22]:
#STEMMING

from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

data['reviews.text'] = data['reviews.text'].apply(lambda text: stem_words(text))
data['reviews.title'] = data['reviews.title'].apply(lambda text: stem_words(text))
data.head()

<ipython-input-22-579db3bb84f0>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.text'] = data['reviews.text'].apply(lambda text: stem_words(text))
<ipython-input-22-579db3bb84f0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews.title'] = data['reviews.title'].apply(lambda text: stem_words(text))

                                        reviews.text          reviews.title
0  product far disappoint child like abil monitor...
1                  beginn experienc person gift love                   fast
2  inexpens learn step nabi thrill learn skype al...  beginn 9 year old son
3  ive fire hd 8 two week valuew prime member shi...
4  grand daughter come visit set user enter age n...                fantast